.App-header {
  font-family: Sen;
  margin-left: 40px;
  font-size: 18px;
  line-height: 31px;
  color: #050505;
}
.container {
  background: #cecee6;
  border-radius: 50px;
  width: Fixed (1, 780px) px;
  height: Fixed (856px) px;
  padding: 80px;  margin: 20px;
}
.frame-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .frame-container{
    align-items: center;
  }
}