body {
    background-color: #393E46
}

.title {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}
.container {
    margin: auto;
    text-align: center;
     
}
.players {
    text-align: center;
    display: inline-block;
}
.winner {
    background-color: burlywood;
    position: relative;
    top: 70px;
    height: 40px;
    width: 90px;
    margin-left: 48%;
    border-radius: 10px;
}
p {
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
img {
    width: 80%; 
}
footer {
    margin-top: 7%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
  